<footer class="page-footer font-small cor-rodape pt-4">
<div class="container">
    <div class="row ">
        <div class="col-md-12 d-flex justify-content-center">
            <h4 class="cor-textosRodape"> Siga-nos nas Redes Sociais</h4>

        </div>
    </div>

    <div class="row ">
        <div class="col-md-12 d-flex justify-content-center">
            
            <ul class="social-network">
                <li>
                    <a href="https://www.instagram.com/dhenilson.souza/" target="_blank" class="icoInstagram">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/denilson-t-de-souza/" target="_blank" class="icoLinkedin">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/denilson-t-de-souza/" target="_blank" class="icoLinkedin">
                        <i class="fab fa-github-square"></i>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</div>

<div class="footer-copyright cor-rodapecopy text-center py-3">
    <span class="cor-textosRodape"> &copy; 2021 Copyright: </span>
    <a class="cor-textosRodape" target="_blank" href="https://github.com/DhenSouza/blog-Front">Denison Souza</a>
</div>
</footer>