.fs-16 {
    font-size: 16pt;
}


a {
    cursor: pointer;
}

.cor-navbar {
    background-color: #101E26;
}

.cor-texto {
    color: #A4B3BF;
}

.limite-foto {
    max-width: 50px;
    max-height: 50px;
}