@media screen {
#img-bg {
    background-image: url("../../assets/img/MyPost.jpg");

    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
    
}

.cor-bg-cadastrar {
    background-color: #475159;
}

.cor-bg-cadastrar2 {
    background-color: #101E26;
    
}

.cor-textoCadastro {
    color: #A4B3BF;
}