#img-bg {
    background-image: url("../../assets/img/moonBack.jpg");

    min-height: 695px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cor-bg-entrar {
    background-color: #101E26;
}

.cor-bg-entrar2 {
    background-color: #475159;
}

.cor-texto {
    color: #BFBFBD;
   font-weight: bolder;
   text-align: left;
   text-transform: uppercase;
}

.opacidade {
    opacity: 0.5;
}

.cadastrar-botao:hover {
    text-decoration: none;
}