.fs-54 {
    font-size: 54pt;
   
}

.fs-18 {
    font-size: 18pt;
}

.bg-inicio {
    background-color: #BEC7C7;
}

.cor-texto-inicio {
    color: #BB2020;
}

.cor-navbar {
    background-color: #101E26;
}

.cor-texto {
    color: #A4B3BF;
}